.about_me {
  flex-basis: 1320px;
  min-height: 1050px;
  font-size: 12pt;
  padding: 190px 0 190px 0px;
  box-sizing: border-box;
}

.about_header {
  flex-basis: 1320px;
  min-height: 250px;
}
.about_header > b {
  line-height: 210%;
  font-size: 30pt;
}
.about_empty {
  margin-top: 75px;
  margin-bottom: 75px;
  opacity: 0.4;
  flex-basis: 1320px;
}

.about_me > p {
  flex-basis: 640px;
  text-align: center;
  line-height: 200%;
}

.about_me > p > b {
  line-height: 250%;
  font-size: 30pt;
}

.about_me span {
  opacity: 0.6;
  font-size: 11pt;
  line-height: 190%;
}

@media (max-width: 1350px) {
  .about_me {
    flex-basis: 700px;
    padding: 190px 0 190px 10px;
  }
}

@media (max-width: 650px) {
  .about_me > p {
    flex-basis: 300px;
  }
}
@media (max-width: 420px) {
  .about_me > p:nth-child(1) {
    padding: 50px 0 50px 10px;
  }
}
